<a href="https://colab.research.google.com/github/sivaparvathi1234/siva-parvathi_INFO5502_Spring2022/blob/main/lab_assignment_01_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [45]:
# write your answer here
def count_character(string1):
  dictionary = {}

  for n in string1:
    k = dictionary.keys()
    if n in k:
      dictionary[n] =dictionary[n]+1
    else:
      dictionary[n] = 1
  return dictionary
print(count_character('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [1]:
# write your answer here
c=0
l=input("Enter elements of list") #taking list input elements from user
li=l.split()#used to split an input string by space
for i in range(len(li)):
  li[i]=int(li[i])
  c=c+li[i]
print(c)

Enter elements of list2 3 4 5 6
20

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
inp=input("enter string")
def cg(st):
  c=st[0]
  st=st.replace(c,'$')
  st=c+st[1:]

  return st
print(cg(inp))

enter stringpappu
pa$$u

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [5]:
# write your answer here
a=float(input("enter value of a"))
b=float(input("enter value of b"))
p=(1+a/b)
c=p*p*p
S=3.14*c
print(S)

enter value of a24
enter value of b45
11.319816296296295

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
# write your answer here
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
k,l=[],[]
k1,l1=list(dic1.keys()),list(dic1.values())
k2,l2=list(dic2.keys()),list(dic2.values())
k3,l3=list(dic3.keys()),list(dic3.values())
k.extend(k1)
l.extend(l1)
k.extend(k2)
l.extend(l2)
k.extend(k3)
l.extend(l3)
dic=dict(zip(k,l))
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [37]:
# write your answer here
t=tuple(input().split())
x=input()
for i in t:
  if i==x:
    print("found")
    break
else:
    print("not found")

1 2 3 4 5
4
found

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [17]:
# write your answer here
l=list(map(int,input().split()))
s=set(l)
max1=l[0]
min1=max1
s.add(max1)
for i in s:
  if i>max1:
    max1=i
  if i<min1:
    min1=i
print("Maximum is ",max1,"and","minimum is ",min1)

1 2 3 45 6
Maximum is  45 and minimum is  1

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [49]:
# write your answer here
from random import sample,randint
li = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
def group(li: list, no_ppl : int):
 for i in range(no_ppl):
   print(sample(li,randint(4,6)))
no_ppl = 6
group(li,no_ppl)

['sk1313', 'jl1252', 'pr0353', 'ak0934', 'bg0320']
['sa1198', 'vb0218', 'sg1297', 'av0659', 'nm0618', 'ms1500']
['kg0569', 'vb0218', 'aos0040', 'av0659', 'bg0320']
['aos0040', 'sk1390', 'ms1500', 'ja0964', 'ak0956']
['jl1252', 'sm1907', 'ja0964', 'kg0569', 'vb0218', 'sk1390']
['kg0569', 'av0659', 'dr0609', 'jl1252']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [46]:
# write your answer here
def dup(l):
  s=set(l)
  if len(s)==len(l):
    return -1
  for i in s:
    l.remove(i)
  return l
m=map(int,input().split())
l=list(m)
print(dup(l))

1 2 3 4
-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [36]:
# write your answer here
from datetime import date #including date from datetime module
import calendar #importing calendar from calendar module
year= 2023

S=calendar.TextCalendar(calendar.SUNDAY)
for p in range(1,13):
   for a in S.itermonthdays(year,p):
       if a!=0:
         day=date(year,p,a)
         if day.weekday()==6:
           print("%s,%d-%d-%d" % (calendar.day_name[6] ,a,p,year))

Sunday,1-1-2023
Sunday,8-1-2023
Sunday,15-1-2023
Sunday,22-1-2023
Sunday,29-1-2023
Sunday,5-2-2023
Sunday,12-2-2023
Sunday,19-2-2023
Sunday,26-2-2023
Sunday,5-3-2023
Sunday,12-3-2023
Sunday,19-3-2023
Sunday,26-3-2023
Sunday,2-4-2023
Sunday,9-4-2023
Sunday,16-4-2023
Sunday,23-4-2023
Sunday,30-4-2023
Sunday,7-5-2023
Sunday,14-5-2023
Sunday,21-5-2023
Sunday,28-5-2023
Sunday,4-6-2023
Sunday,11-6-2023
Sunday,18-6-2023
Sunday,25-6-2023
Sunday,2-7-2023
Sunday,9-7-2023
Sunday,16-7-2023
Sunday,23-7-2023
Sunday,30-7-2023
Sunday,6-8-2023
Sunday,13-8-2023
Sunday,20-8-2023
Sunday,27-8-2023
Sunday,3-9-2023
Sunday,10-9-2023
Sunday,17-9-2023
Sunday,24-9-2023
Sunday,1-10-2023
Sunday,8-10-2023
Sunday,15-10-2023
Sunday,22-10-2023
Sunday,29-10-2023
Sunday,5-11-2023
Sunday,12-11-2023
Sunday,19-11-2023
Sunday,26-11-2023
Sunday,3-12-2023
Sunday,10-12-2023
Sunday,17-12-2023
Sunday,24-12-2023
Sunday,31-12-2023